header {
    @extend %padding-large;
    padding-top: $spacing-m;
    width: 100%;
    background: white;

    @include bp(ipad) {
        padding-left: $spacing-xl;
        padding-right: $spacing-xl;
    }

    @include bp(desktop) {
        padding-left: $spacing-xl;
        padding-right: $spacing-xl;
    }
}

.light-header {
    background-color: $smoke-color;
    padding-bottom: $spacing-m;
    height: 120px;
}

.center-logo {
    .container {
        position: relative;
        text-align: center;

        @include bp(desktop) {
            text-align: left;
        }
    }

    .logo {
        margin: 0px;
        display: inline-block;

        a {
            display: block;
        }
    }
}
