/* 定义需要用到的一些变量 */

// Color

$main-color:            #fa0;
$secondly-color:        #faf;

$bg-color:              #ffffff;

$text-color:            #1a1a1a;
$link-color:            #fa0;
$border-color:          #aaaaaa;
$smoke-color:           #f3f3f3;

$warning-color:         #ffd600;
$error-color:           #d50000;

$success-color:         #00c853;

// Typography

$font-family:       'Noto Sans SC', "Helvetica Neue", -apple-system, "Hiragino Sans GB" , "PingFang SC", "Microsoft YaHei", "Heiti SC", sans-serif;
$font-size-xl:      1.6em;
$font-size-l:       1.2em; // font-size on desktop type screens
$font-size-n:       1em;
$font-size-m:       $font-size-n * 0.9; // font-size under 942px wide screens
$font-size-s:       $font-size-n * 0.85; // font-size under 642px wide screens


// Spacings

$spacing-xs:        .5em;
$spacing-s:         $spacing-xs * 2;  // 1em
$spacing-sm:        $spacing-s + $spacing-xs; // 1.5em
$spacing-m:         $spacing-sm + $spacing-xs;  // 2em
$spacing-ml:        $spacing-m + $spacing-s; // 3em
$spacing-l:         $spacing-ml + $spacing-s; // 4em
$spacing-xl:        $spacing-l + $spacing-s;  // 5em


// Media Queries

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;

@mixin bp($breakpoint) {
  // Small devices
  @if $point==sm {
    @media (min-width: #{$screen-sm-min}) {
      @content;
    }
  }

  // Medium devices
  @if $point==md {
    @media (min-width: #{$screen-md-min}) {
      @content;
    }
  }

  // Large devices
  @else if $point==lg {
    @media (min-width: #{$screen-lg-min}) {
      @content;
    }
  }

  // Extra large devices
  @else if $point==xl {
    @media (min-width: #{$screen-xl-min}) {
      @content;
    }
  }

  // Custom devices
  @else if $point==rwd($screen) {
    @media (min-width: $screen+'px') {
      @content;
    }
  }
  
}

@mixin object-fit($fit: fill, $position: null) {
  object-fit: $fit;
  -o-object-fit: $fit;

  @if $position {
    object-position: $position;
    -o-object-position: $position;
    font-family: 'object-fit: #{$fit}; object-position: #{$position}';
  }

  @else {
    font-family: 'object-fit: #{$fit}';
  }
}
